.forgot-password-title {
    text-align: center;
    width: 100%;
    color: #0ef;
}

.forgot-password-content-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    align-self: center;
}

.forgot-password-email {
    margin-right: 90px;
}

.forgot-password-email::part(input-field) {
    width: 20rem;
    height: 3rem;
    border-radius: 30px;
}

.forgot-password-email > input:placeholder-shown {
    margin-left: 10px;
}

.forgot-password-button {
    width: 15rem;
    height: 2.5rem;
    border-radius: 30px;
    background: var(--lumo-primary-color);
    color: white;
    cursor: pointer;
    align-self: center;
    margin-left: 35px;
}

.forgot-password-main-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.forgot-password-back {
    width: 15rem;
    height: 2.5rem;
    border-radius: 30px;
    background: var(--lumo-primary-text-color);
    color: black;
    cursor: pointer;
    align-self: center;
    margin-left: 35px;
}





