.login-register-button {
  background: transparent;
  position: relative;
  bottom: 30px;
  color: var(--lumo-primary-text-color);
  border-radius: 30px;
  cursor: pointer;
}

.form-link {
  position: relative;
  bottom: 10px;
}

.google-button > vaadin-icon {
  margin-right: 5px;
}

.google-button {
  background: transparent;
  border: 1px solid var(--lumo-contrast-30pct);
  position: relative;
  bottom: 50px;
  height: 45px;
  border-radius: 30px;
  width: 260px;
  color: white;
}

.login-or-layout div {
  background: var(--lumo-contrast-40pct);
  height: 1px;
  width: 130px;
}

.login-or-layout {
   position: relative;
   bottom: 55px;
   color: white;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   /*padding-left: 15px;
   padding-right: 15px;*/
}

.login-form-layout {

}

.login-form-layout {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100% !important;
   padding: 0;
   gap: 0;
}

/*.form vaadin-login-form-wrapper vaadin-text-field::part(error-message),
.form vaadin-login-form-wrapper vaadin-password-field::part(error-message) {
  display: none;
}

.form vaadin-login-form-wrapper::part(form-title){
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background: linear-gradient(270deg, gray 0%, rgba(31, 215, 232, 0.873) 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
}

.form vaadin-login-form-wrapper vaadin-button:last-child {
  margin-top: 10px;
  color: #0ef;
}

.form vaadin-login-form-wrapper vaadin-button:nth-child(2) {
  margin-top: 30px;
  height: 55px;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: 0.5px solid white;;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(to left, rgba(31, 215, 232, 0.873) 0%, rgba(2, 29, 78, 0.681) 40%);
  color: white;
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 20px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.form vaadin-login-form-wrapper vaadin-button:nth-child(2):active {
  scale: 0.92;
}

.form vaadin-login-form-wrapper vaadin-button:nth-child(2):hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: black;
}

.form vaadin-login-form-wrapper vaadin-text-field::part(input-field),
.form vaadin-login-form-wrapper vaadin-password-field::part(input-field){
  color: black;
  border: 0.5px solid white;
  height: 3em;
  border-radius: 20px;
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
}*/

.form vaadin-login-form {
  justify-content: center !important;
  align-items: center;
  width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0;
}

.form vaadin-login-form-wrapper {
  background: transparent;
  height: 100%;
  align-items: center;
  background: none;
  width: 100%;
  gap: 0;
}

.form {
 height: 100%;
 background: black;
}

.google-login-button {

}

/*.form-link:active {
   text-decoration: underline;
}*/

.forgot-password {
   color: #0ef;
   margin-top: 50px;
}

.form-link {
   color: #0ef;
}

.login-text {
  background: linear-gradient(270deg, gray 0%, rgba(31, 215, 232, 0.873) 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

vaadin-email-field.email > input:placeholder-shown {
  color: var(--lumo-shade-60pct);
}

vaadin-email-field.email::part(input-field) {
  color: black;
  border: 0.5px solid white;
  height: 3em;
  border-radius: 20px;
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
}

vaadin-password-field.password::part(input-field) {
  color: black;
  border-radius: 20px;
  height: 3em;
  border: 0.5px solid white;
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
}

vaadin-email-field.email > [slot="suffix"] {
  color: #0ef;
}

vaadin-email-field.email::part(label) {
  color: white;

}

vaadin-password-field.password::part(label) {
  color: white;

}

vaadin-password-field.password::part(reveal-button) {
  color: #0ef;
  /*animation: bounce 3s none;*/
}

.form {
  background-image: url('./images/background.png');
  background-size: cover;
  width: 100%;
}

.text {
  margin-left: 50px;
  /*animation: bounce 3s none;*/
}

.form vaadin-login-form-wrapper vaadin-button:nth-child(2) {
    border-radius: 20px;
    cursor: pointer;
}


.form vaadin-login-form-wrapper vaadin-button:last-child {
    cursor: pointer;
}

.form vaadin-login-form-wrapper vaadin-button:last-child:active {
    text-decoration: underline;
}

.form vaadin-login-form-wrapper vaadin-text-field::part(input-field),
.form vaadin-login-form-wrapper vaadin-password-field::part(input-field){
    border-radius: 20px;
}

.form vaadin-login-form-wrapper::part(form-title){
    text-align: center;
    font-size: 1.7rem;
    font-family: cursive;
}

.login-buttons-layout {
    padding: 0;
    margin: 0;
    gap: 5px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.login-buttons-layout vaadin-button {
    margin: 0;
    width: 20em;
    border-radius: 20px;
    color: white;
}

.login-buttons-layout vaadin-button::part(label) {
    margin-left: 10px;
}

.login-buttons-layout > span {
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-buttons-layout vaadin-button:nth-child(4) > vaadin-icon {
    fill: green;
    color: green;
}
